
#user-quiz-header {
    display: none;
}

img {
    width: 50%;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#user-quiz {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    color: black;
}

main {
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}
