
#user-quiz-header {
    display: none;
}

#user-quiz {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    color: black;
}

main {
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}
