:root {
    --smartblue: #067DC3
}
#user-quiz-header {
    display: none;
}



#logo-small {
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

#flight-search {
    
}

#flight-query {
    display: flexbox;
    box-sizing: border-box;
    border-width: 15px;
    border-style: solid;
    color: white;
    border-color: var(--smartblue);
    background-color: var(--smartblue);
    margin-top: 2.5rem;
    margin-left: 20rem;;
    margin-right: 20rem;
}

img {
    width: 50%;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#landing-p {
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: auto;
   margin-right: auto; 
}

#landing-page {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    color: white;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid; 
    border-color: var(--smartblue);
    background-color: var(--smartblue);
}

#note {
    margin-top: 5rem;
}

#submit-flight-btn {
    border: none;
    color: white;
    background-color: var(--smartblue);
}  

#user-quiz {
    padding-top: 3rem;
    display: flexbox;
    flex-direction: column;
    align-content: space-between;
    background-color: #fff;
    color: black;
}

main {
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#custom-items {
	display: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ie-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


#custom-item-field-wrap {
	position: fixed;
	display: grid;
	grid-template-columns: 4fr 1fr;
	bottom: 0;
	left: 0;
	padding: 0.75rem 1.5rem 1.5rem 1.5rem;
	width: 100%;
	background: white;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80ffffff',GradientType=0 );
	z-index: 200;
}

#custom-item-field-wrap p {
	font-size: 1.5rem;
	color: #444C62;
	grid-column: span 2;
	margin-bottom: 0.5rem;
}

#custom-item-field-wrap input {
	border: 0;
	padding: 1.5rem;
	font-size: 2.5rem;
	line-height: 2.5rem;
}

#custom-item-field-wrap input[type="text"] {
	background: #DDD;
	border-radius: 1rem 0 0 1rem;
	font-weight: 500;
}

#custom-item-field-wrap input[type="submit"] {
	border-radius: 0 1rem 1rem 0;
	background: #CCC;
	font-weight: 600;
	font-size: 2rem;
}